body, input, button {
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans to body, input, and button */
    margin: 0;
    padding: 0;
}

body {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
}

.container {
    max-width: 1200px; /* Set a maximum width */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Padding for container */
}

.search-container {
    display: flex;
    margin-bottom: 20px; /* Space below search container */
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid white; /* White border */
    border-radius: 4px; /* Rounded corners */
    background-color: black; /* Input background color */
    color: white; /* Input text color */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

input[type="text"]::placeholder {
    color: #888; /* Placeholder color */
}

input[type="text"]:focus {
    outline: none; /* Remove default outline */
    border-color: #9d00ff; /* Change border color on focus */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black; /* Button background color */
    color: white; /* Button text color */
    border: 2px solid white; /* Button border color */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        color 0.3s ease; /* Smooth transition */
        margin-left: 10px; /* Space between input and button */
}

button:hover {
    background-color: #9d00ff; /* Button hover effect */
}

.iframe-container {
    border: 2px solid white; /* White border around iframe */
    padding: 5px; /* Padding between iframe and border */
}

iframe {
    width: calc(100% - 10px); /* Full width minus padding for the container */
    height: 500px; /* Increased height for better visibility */
    border: none; /* Remove default iframe border */
}
