body, input {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
}

.container {
    max-width: 2000px; /* Set a maximum width */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Padding for container */
}

.search-container {
    display: flex;
    justify-content: center; /* Center the search bar */
    margin-bottom: 20px; /* Space below search container */
}

.input-icon {
    position: relative;
    width: 100%; /* Set a specific width for the input container */
    max-width: 600px; /* Limit the maximum width */
}

input[type="text"] {
    width: 100%; /* Make input take full width of its container */
    padding: 10px 10px 10px 40px; /* Add padding for icon */
    font-size: 18px; /* Increase font size for better readability */
    border: 2px solid white; /* White border */
    border-radius: 4px; /* Rounded corners */
    background-color: black; /* Input background color */
    color: white; /* Input text color */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

input[type="text"]::placeholder {
    color: transparent; /* Hide placeholder text */
}

.search-icon {
    position: absolute;
    left: 10px; /* Position from left edge */
    top: 40%; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertical alignment */
    color: white; /* Set icon color to white */
    font-size: 30px; /* Increase size for better visibility */
}

input[type="text"]:focus {
    outline: none; 
    border-color: #9d00ff; 
}

.iframe-container {
    border: 2px solid white; 
    padding: 5px; 
    width: 100%; /* Ensure container takes full width */
}

iframe {
    width: 100%; /* Changed from 1100px to 100% for responsiveness */
    height: 480px; 
    border: none; 
}
