.container {
    max-width: 950px; /* Set a maximum width */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Padding for container */
}

.input-icon {
    position: relative;
    flex-grow: 1; /* Allow input to take available space */
}

input[type="text"] {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px 10px 10px 40px; /* Add padding for icon */
    font-size: 18px; /* Increase font size for better readability */
    border: 2px solid white; /* White border */
    border-radius: 4px; /* Rounded corners */
    background-color: black; /* Input background color */
    color: white; /* Input text color */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.iframe-container {
    border: 2px solid white; /* White border around iframe */
    padding: 5px; /* Padding between iframe and border */
}

iframe {
    width: calc(100% - 10px); /* Full width minus padding for the container */
    height: 480px; /* Increased height for better visibility */
    border: none; /* Remove default iframe border */
}
